body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* fist-section-start */
.first-section {
    background-size: 100%;
    height: 400px;
    background-image: url('../images/banar.jpg');
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 110px;

}

#first-section-div {
    width: 700px;
    margin: auto;
    text-align: center;
    color: white;
}

.first-section-div h2 {
    font-size: 44px;
    margin-bottom: 0px;
}

.first-section-div a {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 68, 0, 0.884);
    padding: 5px 8px;
    border-radius: 6px
}

/* fist-section-end */

/* 2nd-section-start */
#sceand-section {
    margin-bottom: 130px;
}

.donate-today-area {
    width: 700px;
    margin: auto;
    text-align: center;
}

.donate-today-area p {
    font-weight: 300;
}

.amount-count div {
    display: inline-block;
    width: 55px;
    height: 55px;
    padding: 10px;
    margin: 8px;
    background-color: rgba(128, 128, 128, 0.17);
    border-radius: 5px;
    margin-bottom: 35px;

}

#donate-dollar {
    border: 2px solid rgba(255, 68, 0, 0.884);
    color: rgba(255, 68, 0, 0.884);
}

#input-area input {
    margin-bottom: 20px;
    width: 700px;
    border: none;
    border-bottom: 1px solid black;
    place-content: center;
}

#input-area input::placeholder {
    text-align: center;
    padding: 3px;
}

.donate-button a {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 68, 0, 0.884);
    padding: 5px 8px;
    border-radius: 6px;
}

/* section-3nd-start */

.donate-plan {
    width: 700px;
    margin: auto;
    text-align: center;
}

.donate-plan-box {
    display: flex;

}

.donate-plan h1 {
    margin-bottom: 12px;
    margin-top: 8px;
}

.donate-plan p {
    font-weight: 300px;
}

.food-familly {
    width: 220px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgba(128, 128, 128, 0.716);
    padding: 10px;
    margin: 20px 10px;
}

.food-image img {
    width: 100px;
    margin-right: 120px;
}

/* bunas-1-section-start */
.bunas-section-1{
    margin-top: 100px;
}
.bunas-part {

    width: 600px;
    display: flex;
    margin: auto ;
    border: 1px solid gray;

}
.bunas-part h1{
    text-align: center;
}
.bunas-part button{
    color: rgba(255, 68, 0, 0.884);
    margin-bottom: 10px 20px;
    background-color: rgba(255, 68, 0, 0.884);
    border: none;
    width: 200px;
    height: 30px;
    color: wheat;

}

/* bunas-2-section-start */
.bunas-section {
    margin-top: 110px;
}

.get-update {
    width: 700px;
    margin: auto;
    text-align: center;
}

.get-update p {
    font-weight: 300;
}

.email-sercribe {
    width: 600px;
    margin: auto;
    height: 250px;
    background-color: rgba(255, 166, 0, 0.346);
    position: relative;

}

.sercribe-input {
    position: absolute;
    margin-left: 70px;
    margin-top: 100px;

}

.email-sercribe input {
    width: 350px;
    padding: 10px;
}

.email-sercribe button {
    padding: 10px;
    background-color: rgba(255, 68, 0, 0.884);
    border: none;
}

/* start-footer-section */
.footer-section {
    display: flex;
    height: 200px;
    background-color: black;
    margin-top: 200px;

}

.footer-contain {
    margin: auto;
    text-align: center;

}

.footer-section h1 {
    color: rgba(255, 68, 0, 0.884);
    margin-bottom: 10px;
}

.footer-section small {
    font-weight: 300;
    color: white;
}